<h1 class="page-header">Blog Feed</h1>
<button id="openBlog" data-toggle="modal" [disabled]="newPost" class="button btn btn-warning" data-target="#newblogModal">New Post</button>
<button class="button btn btn-info" (click)="GetBlogs()" style="margin-left: 1rem;"><i class="fa fa-refresh"></i></button>

<hr>
<br>

<mat-spinner *ngIf="loading"></mat-spinner>
<ng-template [ngIf]="!loading && blogs">
  <!-- <div class="card" style="max-width: 700rem;" *ngFor="let blog of blogs"></div> -->
  <div *ngFor="let blog of blogs">
    <div class="card" style="max-width: 700rem; border: 2px solid white !important;">
      <div class="card-header" style="text-align: center;">
        <h4 class="card-title" style="font-weight: 900; text-transform: uppercase; color: aqua;">{{blog.title}}</h4>
      </div>

      <div class="card-body">
        <p class="card-text">{{blog.body}}</p>
      </div>

      <div class="card-footer">
        Posted By: <strong>{{blog.createdBy}}</strong><br>
        Date: <strong>{{blog.createdAt | date: 'fullDate'}}</strong><br>

        <div class="btn-group dropdown">
            <a class="dropdown-toggle" role="button" id="likes" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-thumbs-up"></i>: <strong>{{blog.likes}}</strong>
            </a>
            
            <ng-template [ngIf]="blog.likedBy.length === 1 && !blog.likedBy.includes(username)">
              <ul class="dropdown-menu" role="menu" aria-labelledby="likes">              
                <li role="presentation">
                  <a role="menuitem" tabindex="-1" [routerLink]="['/profiledisplay', blog.likedBy[0]]">{{blog.likedBy[0]}}</a>
                </li>
              </ul>
            </ng-template>
  
            <ng-template [ngIf]="blog.likedBy.length > 1">
              <ul class="dropdown-menu" role="menu" aria-labelledby="likes">              
                <li role="presentation" *ngFor="let person of blog.likedBy">
                  <ng-template [ngIf]="person !== username">
                    <a role="menuitem" tabindex="-1" [routerLink]="['/profiledisplay', person]">{{person}}</a>
                  </ng-template>
                </li>
              </ul>
            </ng-template>
        </div>

        <div class="btn-group dropdown">
          <a class="dropdown-toggle" role="button" id="dislikes" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-thumbs-down" style="margin-left: 2rem;"></i>: <strong>{{blog.dislikes}}</strong>
          </a>

          <ng-template [ngIf]="blog.dislikedBy.length === 1 && !blog.dislikedBy.includes(username)">
            <ul class="dropdown-menu" role="menu" aria-labelledby="dislikes">              
              <li role="presentation">
                <a role="menuitem" tabindex="-1" [routerLink]="['/profiledisplay', blog.dislikedBy[0]]">{{blog.dislikedBy[0]}}</a>
              </li>
            </ul>
          </ng-template>

          <ng-template [ngIf]="blog.dislikedBy.length > 1">
            <ul class="dropdown-menu" role="menu" aria-labelledby="dislikes">              
              <li role="presentation" *ngFor="let person of blog.dislikedBy">
                <ng-template [ngIf]="person !== username">
                  <a role="menuitem" tabindex="-1" [routerLink]="['/profiledisplay', person]">{{person}}</a>
                </ng-template>
              </li>
            </ul>
          </ng-template>
        </div>
        
        <br>

        <button id="editBlog" *ngIf="blog.createdBy === username" (click)="EditBlog(blog._id)" class="button btn-success btn-sm" data-toggle="modal" data-target="#editblogModal"><i class="fa fa-edit"></i></button>
        <button *ngIf="blog.createdBy === username" (click)="DeleteClick(blog._id)" class="button btn-danger btn-sm" data-toggle="modal" data-target="#deleteModal" style="margin-left: 0.4rem;"><i class="fa fa-trash"></i></button>

        <div *ngIf="blog.createdBy !== username">
            <button [disabled]="blog.likedBy.includes(username)" class="button btn btn-info btn-sm" (click)="LikeBlog(blog._id)"><i class="fa fa-thumbs-up"></i></button>
            <button [disabled]="blog.dislikedBy.includes(username)" class="button btn btn-danger btn-sm" (click)="DislikeBlog(blog._id)" style="margin-left: 0.7rem;"><i class="fa fa-thumbs-down"></i></button>
        </div>
      </div>

      <div class="card-footer">
        <ng-template [ngIf]="blog.createdBy !== username">
          <label for="comment">Comment</label>
          <textarea [formControl]="formcomment" [(ngModel)]="newcomment" name="comment" class="form-control" id="comment" rows="2"></textarea>
          <div style="margin-top: 1rem;">
            <button *ngIf="formcomment.valid" class="btn btn-info btn-sm" (click)="PostComment(blog._id, newcomment)">Post Comment</button>
            <button *ngIf="formcomment.valid && formcomment.dirty" (click)="clearComment()" class="btn btn-warning btn-sm" style="margin-left: 0.7rem;">Cancel</button>
          </div>
          <hr>
        </ng-template>
        <div class="container">
          <div class="card" style="max-width: 690rem; border: 2px solid lightcoral !important;">
            <div class="card-header">
              <h5 class="card-title" style="font-weight: 700; color: lightgreen">Comments: <strong>{{blog.comments.length}}</strong></h5>
              <!-- <span class="glyphicon glyphicon-comment"></span> -->
            </div>
            <div *ngIf="blog.comments.length > 0" class="card-body" id="comments">
              <ul class="list-group">
                <li class="list-group-item" *ngFor="let comment of blog.comments | orderBy: blog.comments.commentedAt : true">
                    <div class="row">
                        <div class="col-xs-2 col-md-2">
                            <!-- <img src="http://placehold.it/80" class="img-circle img-responsive" alt="" /> -->
                            <ng-template [ngIf]="comment.commentator.avatarImageType && comment.commentator.avatarImage">
                              <img [src]="getCommentatorimage(comment.commentator.avatarImageType, comment.commentator.avatarImage)" style="max-height: 80px; max-width: 80px;" class="clipped" alt="Profile Image">
                            </ng-template>
                            <ng-template [ngIf]="!comment.commentator.avatarImageType || !comment.commentator.avatarImage">
                              <img src="../../../assets/placeholder.png" style="max-height: 80px; max-width: 80px;" class="clipped" alt="Profile Image">
                            </ng-template>
                        </div>
                        <div class="col-xs-10 col-md-10">
                            <div>
                                <div>
                                    By: <a [routerLink]="['/profiledisplay', comment.commentator.username]">{{comment.commentator.username}}</a> on {{comment.commentedAt | date: 'fullDate'}}
                                </div>
                            </div>
                            <div>
                                {{comment.comment}}
                            </div>
                            <div *ngIf="comment.commentator.username === username" style="margin-top: 0.4rem;">
                                <button id="editComment" type="button" class="btn btn-success btn-sm" (click)="GetEditComment(blog._id, comment._id)" data-toggle="modal" data-target="#editcommentModal">
                                  <i class="fa fa-edit"></i>
                                </button>
                                <button type="button" class="btn btn-danger btn-sm" (click)="GetEditComment(blog._id, comment._id)" data-toggle="modal" data-target="#deletecommentModal" style="margin-left: 0.4rem;">
                                  <i class="fa fa-trash"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <span>&nbsp;</span>
    <span>&nbsp;</span>
    <span>&nbsp;</span>
  </div>

<br>
<br>
</ng-template>

<ng-template [ngIf]="!loading && !blogsAvailable">
  <h4>No Blogs Avaialable</h4>
</ng-template>


<!-- New Blog Modal -->
<div class="modal" id="newblogModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">New Blog</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
            <form>
                <div class="form-group">
                    <label for="title">Title</label>
                    <input [formControl]="formtitle" type="text" name="title" class="form-control" [(ngModel)]="newtitle" id="title" placeholder="Enter Title..." required>
                    <mat-error *ngIf="formtitle.invalid && formtitle.dirty">{{titleErrorMessage()}}</mat-error>
                    <br>
                    <label for="body">Body</label>
                    <textarea [formControl]="formbody" name="body" class="form-control" [(ngModel)]="newbody" id="body" rows="5" required></textarea>
                    <mat-error *ngIf="formbody.invalid && formbody.dirty">{{bodyErrorMessage()}}</mat-error>
                </div>
            </form>
            <p>Posted By: <strong>{{username}}</strong></p>
            <p>Date: <strong>{{currentDate | date: 'fullDate'}}</strong></p>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button [disabled]="(formtitle.invalid) || (formbody.invalid)" type="button" class="btn btn-primary" (click)="PostBlog()">Post</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
  
      </div>
    </div>
</div>

<!-- Edit Blog Modal -->
<div class="modal" id="editblogModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Edit Blog</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
          <form>
              <div class="form-group">
                  <label for="title">Title</label>
                  <input [formControl]="formtitle" type="text" name="title" class="form-control" [(ngModel)]="edittitle" id="title" placeholder="Enter Title..." required>
                  <mat-error *ngIf="formtitle.invalid && formtitle.dirty">{{titleErrorMessage()}}</mat-error>
                  <br>
                  <label for="body">Body</label>
                  <textarea [formControl]="formbody" name="body" class="form-control" [(ngModel)]="editbody" id="body" rows="5" required></textarea>
                  <mat-error *ngIf="formbody.invalid && formbody.dirty">{{bodyErrorMessage()}}</mat-error>
              </div>
          </form>
          <p>Posted By: <strong>{{editusername}}</strong></p>
          <p>Date: <strong>{{editCreatedAt | date: 'fullDate'}}</strong></p>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button [disabled]="(formtitle.invalid) || (formbody.invalid)" type="button" class="btn btn-primary" (click)="UpdateBlog()">Update</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

<!-- Delete Blog -->
<div class="modal" id="deleteModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Are You Sure You want to Delete {{edittitle}}?</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="DeleteBlog(editid)">Yes</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
        </div>
  
      </div>
    </div>
</div>

<!-- Edit Comment Modal -->
<div class="modal" id="editcommentModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Edit Comment</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
          <form>
              <div class="form-group">
                  <label for="title">Title</label>
                  <textarea [formControl]="editformcomment" [(ngModel)]="editcomment" name="comment" class="form-control"  id="comment" rows="2"></textarea>
                  <!-- <textarea [formControl]="formcomment" [(ngModel)]="newcomment" name="comment" class="form-control" id="comment" rows="2"></textarea> -->
                  <mat-error *ngIf="editformcomment.invalid && editformcomment.dirty">{{commentErrorMessage()}}</mat-error>
              </div>
          </form>
          <p>Commented By: <strong>{{editcommentator}}</strong></p>
          <p>Date: <strong>{{editCommentedAt | date: 'fullDate'}}</strong></p>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button [disabled]="(editformcomment.invalid)" type="button" class="btn btn-primary" (click)="EditComment(editid, editcomment, editcommentId)">Update</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

<!-- Delete Comment -->
<div class="modal" id="deletecommentModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Are You Sure You want to Delete your comment?</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="DeleteComment(editid, editcommentId)">Yes</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
      </div>

    </div>
  </div>
</div>